{% extends "zinnia/entry_detail_base.html" %}

{% block entry-comments %}
    <div id="disqus_thread"></div>
    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
            {#        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable#}
            var random = Math.random();
            this.page.identifier = random + ''; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://debian8.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    {#<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by#}
    {#    Disqus.</a></noscript>#}
    <script id="dsq-count-scr" src="//debian8.disqus.com/count.js" async></script>
{% endblock entry-comments %}

{% block entry-comments-form %}
{% endblock entry-comments-form %}
